@{
    Layout = "_Layout";
}
@model ChangePassword
<style>
    .input-holder {
        position: relative;
    }

    .input-icon {
        position: absolute;
        right: 10px;
        top: 6px;
    }

    .eye-icon-user {
        position: absolute;
        right: 12px;
        top: 13px;
    }
    form{
        margin-left: 15rem;
        margin-top: 2rem;
    }
</style>
<div class="mt-3 p-3">
    <h1 class="text-blue">Change Password</h1>
    <form class="form p-3" asp-controller="Profile" asp-action="ChangePassword" method="POST">
        <div class="col gap-sm-0 gap-3">
            <p class="text-secondary">Enter a new password to update your account credentials.</p>
            <input type="hidden" asp-for="Email">
            <div class=" form-floating col-sm-4 col-8">
                <input asp-for="CurrentPassword" class="form-control my-4" type="password" name="currentPassword" id="currentPassword"
                    placeholder="Current Password*">
                <label for="currentPassword" class="ms-2">Current Password*</label>
                <span class="eye-icon-user"><i class="bi bi-eye-slash" id="currenttogglePassword"></i></span>
            </div>

            <div class=" form-floating col-sm-4 col-8">
                <input asp-for="NewPassword" class="form-control my-4" type="password" name="newPassword" id="newPassword"
                    placeholder="New Password*">
                <label for="newPassword" class="ms-2">New Password*</label>
                <span class="eye-icon-user"><i class="bi bi-eye-slash" id="newtogglePassword"></i></span>
            </div>

            <div class=" form-floating col-sm-4 col-8">
                <input asp-for="ConfirmNewPassword" class="form-control my-4" type="password" name="ConfirmNewPassword" id="cnewPassword"
                    placeholder="Confirm New Password*">
                <label for="ConfirmNewPassword" class="ms-2">Confirm New Password*</label>
                <span class="eye-icon-user"><i class="bi bi-eye-slash" id="cnewtogglePassword"></i></span>
            </div>
        </div>
<span class="text-danger">@ViewBag.ErrorMsg</span>


        <div class="d-flex row gap-sm-0 gap-3 mt-4">
            <div class="col-auto">
                <button type="submit" id="" class="btn bg-blue text-white d-flex align-items-center">Submit</button>
            </div>
            <div class="col-auto">
                <a href="user-page.html" class="blue-outline btn d-flex align-items-center">Cancel</a>
            </div>
        </div>
    </form>
</div>
<script src="js/bootstrap.bundle.min.js "></script>
<script>
    const currenttogglePassword = document.querySelector('#currenttogglePassword');
    const currentPassword = document.querySelector('#currentPassword');
    currenttogglePassword.addEventListener('click', (event) => {
        const type = currentPassword.getAttribute('type') === 'password' ? 'text' : 'password';
        currentPassword.setAttribute('type', type);
        if (type === "password") {
            event.target.classList.add("bi-eye-slash");
            event.target.classList.remove("bi-eye")
        }
        else {
            event.target.classList.remove("bi-eye-slash");
            event.target.classList.add("bi-eye")

        }
    });
    const newtogglePassword = document.querySelector('#newtogglePassword');
    const newPassword = document.querySelector('#newPassword');
    newtogglePassword.addEventListener('click', (event) => {
        const type = newPassword.getAttribute('type') === 'password' ? 'text' : 'password';
        newPassword.setAttribute('type', type);
        if (type === "password") {
            event.target.classList.add("bi-eye-slash");
            event.target.classList.remove("bi-eye")
        }
        else {
            event.target.classList.remove("bi-eye-slash");
            event.target.classList.add("bi-eye")

        }
    });
    const cnewtogglePassword = document.querySelector('#cnewtogglePassword');
    const cnewPassword = document.querySelector('#cnewPassword');
    cnewtogglePassword.addEventListener('click', (event) => {
        const type = cnewPassword.getAttribute('type') === 'password' ? 'text' : 'password';
        cnewPassword.setAttribute('type', type);
        if (type === "password") {
            event.target.classList.add("bi-eye-slash");
            event.target.classList.remove("bi-eye")
        }
        else {
            event.target.classList.remove("bi-eye-slash");
            event.target.classList.add("bi-eye")

        }
    });
</script>