@{
    Layout = "_LoginLayout";
    var SuccessMessage = TempData["SuccessMessage"] as string;
}
@model LoginUser
<form class="form" asp-controller="Authentication" asp-action="ForgotPassword" method="POST"
    class="d-flex flex-column align-items-center">
    @if (!string.IsNullOrEmpty(SuccessMessage))
    {
        <span>@SuccessMessage</span>
    }
    <div class="input-holder">
        <input asp-for="Email" type="email" class="form-control my-4 " value="@ViewBag.RememberedEmail"
            placeholder="Email*">
        <span class="input-icon"> <img src="images/icons/customer.svg" alt=""></span>
    </div>



    <button type="submit" id="" class="btn btn-primary form-control">Send</button>
    <a asp-controller="Authentication" asp-action="Login" class="back-to-login mt-4">Back to login</a>

</form>