@{
    Layout = "_LoginLayout";
}
@model ResetPaasswordVModel
<form class="form" asp-controller="Authentication" asp-action="ResetPassword" method="POST"
    class="d-flex flex-column align-items-center">

    <input type="hidden" asp-for="Email" id="">
    <div class="input-holder">
        <input type="password" class="form-control my-4" asp-for="Upassword" id="newPassword"
            placeholder="New Password*">
        <span class="input-icon"><i class="bi bi-eye-slash" id="togglePassword"></i></span>
    </div>
    <div class="input-holder">
        <input type="password" class="form-control my-4" asp-for="ConfirmUpassword" id="cnewPassword"
            placeholder="Confirm New Password*">
        <span class="input-icon"><i class="bi bi-eye-slash" id="togglePassword"></i></span>
    </div>
    <span class="text-danger">@ViewBag.ErrorMsg</span>


    <button type="submit" id="" class="btn btn-primary form-control">Submit</button>
    <a href="/login.html" class="back-to-login mt-4">Back to login</a>

</form>