@{
    Layout = "_Layout";
}

<!-- content header  -->
<div class="d-flex  align-items-center justify-content-between">
    <h3 class="text-blue">Add New User</h3>
    <!-- <button class="btn bg-blue text-white" type="submit">+Add User</button> -->
    <a asp-controller="User" asp-action="Index" class="btn bg-blue text-white d-flex align-items-center">Back</a>
</div>

<!-- box with shadow  -->
<div class="bg-white border rounded shadow mt-3 p-3">
    <!-- form  -->
    <form class="form p-3" action="">
        <div class="row gap-sm-0 gap-3">
            <div class=" form-floating col-sm-6 col-12">
                <input class="form-control" type="text" name="fname" id="fname" placeholder="First Name">
                <label for="fname" class="ms-3">First Name</label>
            </div>
            <div class=" form-floating col-sm-6 col-12">
                <input class="form-control" type="text" name="lname" id="lname" placeholder="Last Name">
                <label for="lname" class="ms-3">Last Name</label>
            </div>
        </div>
        <div class="row my-4 gap-sm-0 gap-3">
            <div class="form-floating col-sm-6 col-12">
                <input class="form-control " type="text" name="uname" id="uname" placeholder="User Name">
                <label for="uname" class="ms-3">User Name</label>
            </div>
            <div class="form-floating col-sm-6 col-12">
                <select name="" id="role-dropdown" class="form-select form-control  ">
                    <option value="">Role</option>
                </select>
                <label for="role-dropdown" class="ms-3">Role</label>
            </div>
        </div>
        <div class="row gap-sm-0 gap-3">
            <div class="form-floating col-sm-6 col-12">
                <input class="form-control " type="email" name="" id="email" placeholder="Email">
                <label for="email" class="ms-3">Email</label>
            </div>
            <div class="form-floating col-sm-6 col-12">
                <input class="form-control " type="password" name="" id="password" placeholder="Password">
                <label for="password" class="ms-3">Password</label>
            </div>
        </div>
        <div class="row my-4">
            <div class="">
                <input type="file" name="" id="fileInput" class="file-input-none">
                <label class="file-box form-control d-flex flex-column align-items-center justify-content-center "
                    for="fileInput">
                    <img height="20px" src="img/upload-cloud-svgrepo-com.svg" alt="">
                    <span>Browse files</span>
                </label>
            </div>
        </div>

        <div class="row gap-md-0 gap-3">
            <div class="form-floating col-md-4 col-12">
                <select asp-items="@ViewBag.Country" class="form-select form-control" id="country">
                </select>
                <label for="country" class="ms-3">Country</label>
            </div>
            <div class="form-floating col-md-4 col-12">
                <select asp-items="@ViewBag.State" class="form-select form-control" id="state">
                </select>
                <label for="state" class="ms-3">State</label>
            </div>
            <div class="form-floating col-md-4 col-12">
                <select asp-items="@ViewBag.City" class="form-select form-control" id="city">
                </select>
                <label for="city" class="ms-3">City</label>
            </div>
        </div>
        <div class="row my-4 gap-md-0 gap-3">
            <div class="form-floating col-md-4 col-12">
                <input class="form-control" type="text" name="" id="zipcode" placeholder="Zipcode">
                <label for="zipcode" class="ms-3">Zipcode</label>
            </div>
            <div class="form-floating col-md-4 col-12">
                <input class="form-control" type="text" name="" id="address" placeholder="Address">
                <label for="address" class="ms-3">Address</label>
            </div>
            <div class="form-floating col-md-4 col-12">
                <input class="form-control" type="number" name="" id="phone" placeholder="Phone">
                <label for="phone" class="ms-3">Phone</label>
            </div>
        </div>

        <div class="d-flex  row gap-sm-0 gap-3">
            <div class="col-auto text-center">
                <a href="" class="btn bg-blue text-white d-flex align-items-center">Create User</a>
            </div>
            <div class="col-auto text-center">
                <a asp-controller="User" asp-action="Index" class="blue-outline btn d-flex align-items-center">Cancel</a>
            </div>
        </div>
    </form>
</div>
<!-- finish box-section  -->