@{
    Layout = "_Layout";
}
@model Pizzashop_dotnet.Models.User
<!-- content header  -->
<div class="d-flex  align-items-center justify-content-between">
    <h3 class="text-blue">Add New User</h3>
    <!-- <button class="btn bg-blue text-white" type="submit">+Add User</button> -->
    <a asp-controller="User" asp-action="Index" class="btn bg-blue text-white d-flex align-items-center">Back</a>
</div>

<!-- box with shadow  -->
<div class="bg-white border rounded shadow mt-3 p-3">
    <!-- form  -->
    <form class="form p-3" asp-controller="User" asp-action="Create" method="POST">
        <div class="row gap-sm-0 gap-3">
            <div class=" form-floating col-sm-6 col-12">
                <input asp-for="Firstname" class="form-control" type="text"  id="fname" placeholder="First Name">
                <label asp-for="Firstname" for="fname" class="ms-3">First Name</label>
            </div>
            <div class=" form-floating col-sm-6 col-12">
                <input asp-for="Lastname" class="form-control" type="text"  id="lname" placeholder="Last Name">
                <label asp-for="Lastname" for="lname" class="ms-3">Last Name</label>
            </div>
        </div>
        <div class="row my-4 gap-sm-0 gap-3">
            <div class="form-floating col-sm-6 col-12">
                <input asp-for="Username" class="form-control " type="text"  id="uname" placeholder="User Name">
                <label asp-for="Username" for="uname" class="ms-3">User Name</label>
            </div>
            <div class="form-floating col-sm-6 col-12">
                <select asp-for="Roleid" asp-items="@ViewBag.Role" id="role-dropdown" class="form-select form-control  ">
                    @* <option value="">Role</option> *@
                </select>
                <label asp-for="Roleid" for="role-dropdown" class="ms-3">Role</label>
            </div>
        </div>
        <div class="row gap-sm-0 gap-3">
            <div class="form-floating col-sm-6 col-12">
                <input asp-for="Email" class="form-control " type="email"   id="email" placeholder="Email">
                <label asp-for="Email" for="email" class="ms-3">Email</label>
            </div>
            <div class="form-floating col-sm-6 col-12">
                <input asp-for="Upassword" class="form-control " type="password"   id="password" placeholder="Password">
                <label asp-for="Upassword" for="password" class="ms-3">Password</label>
            </div>
        </div>
        <div class="row my-4">
            <div class="">
                <input asp-for="Profileimageurl" type="file"   id="fileInput" class="file-input-none">
                <label asp-for="Profileimageurl" class="file-box form-control d-flex flex-column align-items-center justify-content-center "
                    for="fileInput">
                    <img height="20px" src="img/upload-cloud-svgrepo-com.svg" alt="">
                    <span>Browse files</span>
                </label>
            </div>
        </div>

        <div class="row gap-md-0 gap-3">
            <div class="form-floating col-md-4 col-12">
                <select asp-for="Country" asp-items="@ViewBag.Country" class="form-select form-control" id="countryDropdown">
                    <option value="" selected>-- Select Country --</option>
                </select>
                <label asp-for="Country" for="country" class="ms-3">Country</label>
            </div>
            <div class="form-floating col-md-4 col-12">
                <select  asp-for="State" class="form-select form-control" id="stateDropdown">
                     <option value="" selected>-- Select State --</option>
                </select>
                <label  asp-for="State" for="state" class="ms-3">State</label>
            </div>
            <div class="form-floating col-md-4 col-12">
                <select asp-for="City"  class="form-select form-control" id="cityDropdown">
                     <option value="" selected>-- Select City --</option>
                </select>
                <label asp-for="City" for="city" class="ms-3">City</label>
            </div>
        </div>
        <div class="row my-4 gap-md-0 gap-3">
            <div class="form-floating col-md-4 col-12">
                <input  asp-for="Zipcode" class="form-control" type="text"  id="zipcode" placeholder="Zipcode">
                <label  asp-for="Zipcode" for="zipcode" class="ms-3">Zipcode</label>
            </div>
            <div class="form-floating col-md-4 col-12">
                <input asp-for="Address" class="form-control" type="text"  id="address" placeholder="Address">
                <label asp-for="Address" for="address" class="ms-3">Address</label>
            </div>
            <div class="form-floating col-md-4 col-12">
                <input asp-for="Phone" class="form-control" type="number"  id="phone" placeholder="Phone">
                <label asp-for="Phone" for="phone" class="ms-3">Phone</label>
            </div>
        </div>

        <div class="d-flex  row gap-sm-0 gap-3">
            <div class="col-auto text-center">
                <button type="submit" id="" class="btn bg-blue text-white d-flex align-items-center">Create User</button>
            </div>
            <div class="col-auto text-center">
                <a asp-controller="User" asp-action="Index" class="blue-outline btn d-flex align-items-center">Cancel</a>
            </div>
        </div>
    </form>
</div>
<!-- finish box-section  -->

<script src="~/js/site.js"></script>